<div class="col-md-4 mt20">
        <div class="post-img">
           {% if page.img %}
            <img width="600" src="{{site.baseurl}}/images/{{page.img}}" alt="{{page.title}}">
            {% else %}
            <img width="600" src="{{site.baseurl}}/images/{{site.default-image}}" alt="{{page.title}}">
            {% endif %}
        </div>
        
		
		<div class="mt10">
			<h2>Information</h2>
			<table class="table table-striped">
				<tbody>
					<tr><th scope="row">Layout: </th><td>{{page.layout_type}}</td></tr>
					<tr><th scope="row">Version: </th><td>{{page.ver}}</td></tr>
					<tr><th scope="row">Languages Used: </th><td>{{page.langs}}</td></tr>
					<tr><th scope="row">Supports Ajax: </th><td>{{page.ajax}}</td></tr>
					<tr><th scope="row">Help: </th><td>Support & Documentation </td></tr>
				</tbody>
			</table>
		</div>
		<br>
		
		<div class="mt10">
			<h2>Requirements</h2>
			<table class="table table-striped">
				<tbody>
					<tr><th scope="row">Language: </th><td>{{page.php}}</td></tr>
					<tr><th scope="row">Browser: </th><td>{{page.browser}}</td></tr>
				</tbody>
			</table>
		</div>
		<br>
		
		<div class="mt10 recent">
            <h2>Other Products</h2>        
             <ul>
                {% for post in site.related_posts limit:3 %}

                      <li>
                      <p><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></p>
                      </li>

                {% endfor %}
              </ul>
        </div>

</div>