#double {
	overflow: hidden;
	width: 100%;
}

#double li {
	float: left;
	display: inline;
	width: 50%;
	line-height: 1.5;
	font-size: 16px;
}

#double li:before {
	font-family: 'Glyphicons Halflings';
	content:"\e103";
	font-size: 18px;
	padding: 16px 10px 0 0;
}

#question {
	list-style: none;
}

#question li {
	line-height: 1.5;
	font-weight: bold;
	margin-top: 10px;
}

#question li:before {
	font-family: 'Glyphicons Halflings';
	content:"\e085";
	padding: 16px 8px 0 0; 
}

#product-title {
	font-size: 24px;
}	

#price-table tbody tr:first-child {
	font-weight: bold;
}

#site-heading {
	opacity: 1;
	margin-top: 0;
	color: #fff;
}

#site-tag {
	opacity: 1;
	color: #eeeeee;
	margin-bottom: 15px;
}

@media screen and (max-width: 786px) {
	#double li {
		float: none;
		display: block;
	}
}

#product-ls {
	list-style: none;
}


td .no-underline {
	text-decoration: none !important; 
}

td .no-underline:hover {
	color: gray; 
}

.navbar-right {
	margin-top: 10px;
}

.about-list {
	list-style: none;
	padding-left: 0;
	padding-top: 10px;
}

.about-list li:before {
	font-family: 'Glyphicons Halflings';
	content:"\e087";
	padding: 16px 8px 0 0; 
}

.mt20 {
	margin-top: 20px;
}

.mt40 {
	margin-top: 40px;
}

.site-hero {
	background: linear-gradient(0deg,rgba(0,0,0,0.2),rgba(0,0,0,0.0)), url('#{$baseurl}/images/home-header.png') center center repeat;
	padding-top: 80px;
	padding-bottom: 60px;
	margin-bottom: 30px;
	text-align: center;
}

.navbar-brand { 
    padding: 0;
    height: 55px;
}

.navbar {
	margin-bottom: 0;
}

.currency {
	font-weight: bold;
	color: gray;
}

.main_post_image {
	height: 340px;
	width: 100%;
}

.big {	
	display: block;
	background-color: #4478af;
	padding: 10px;
	border-radius: 5px;
	margin: 35px 0 15px;
	color: white; }
	
.big:before {
	font-family: 'Glyphicons Halflings';
	content:"\e199";
	font-size: 24px;
	padding: 16px 10px 0 0;
}

.site-footer{
	background-color: #e8e8e8;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
	margin-top: 80px;
}

.site-footer .footer-left,
.site-footer .footer-center,
.site-footer .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.site-footer .footer-left{
	width: 40%;
}

/* The company logo */

.site-footer h3{
	font-size: 36px;
	margin: 0;
}

.site-footer h3 span{
	color:  #5383d3;
}

/* Footer links */

.site-footer .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin-top: 10px;
}

/* Footer Center */

.site-footer .footer-center{
	width: 35%;
}

.site-footer .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.site-footer .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.site-footer .footer-center p{
	display: inline-block;
	vertical-align: middle;
	margin:0;
}

.site-footer .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.site-footer .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}


/* Footer Right */

.site-footer .footer-right{
	width: 20%;
}

.site-footer .footer-company-about{
	line-height: 20px;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.site-footer .footer-company-about span{
	display: block;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.site-footer .footer-icons{
	margin-top: 25px;
}

.site-footer .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.site-footer{
		font: bold 14px sans-serif;
	}

	.site-footer .footer-left,
	.site-footer .footer-center,
	.site-footer .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.site-footer .footer-center i{
		margin-left: 0;
	}

}

#slides {
    display: none
}

#slides .slidesjs-navigation {
	margin-top:3px;
}

    #slides .slidesjs-previous {
      margin-right: 5px;
      float: left;
    }

    #slides .slidesjs-next {
      margin-right: 5px;
      float: left;
    }

    .slidesjs-pagination {
      margin: 6px 0 0;
      float: right;
      list-style: none;
    }

    .slidesjs-pagination li {
      float: left;
      margin: 0 1px;
    }

    .slidesjs-pagination li a {
      display: block;
      width: 13px;
      height: 0;
      padding-top: 13px;
      background-image: url(../images/pagination.png);
      background-position: 0 0;
      float: left;
      overflow: hidden;
    }

    .slidesjs-pagination li a.active,
    .slidesjs-pagination li a:hover.active {
      background-position: 0 -13px
    }

    .slidesjs-pagination li a:hover {
      background-position: 0 -26px
    }

    #slides a:link,
    #slides a:visited {
      color: #333
    }

    #slides a:hover,
    #slides a:active {
      color: #9e2020
    }
